<launch>
  <arg name="joy_dev" default="$(optenv JACKAL_JOY_DEVICE /dev/input/js0)" />
  <arg name="joystick" default="true" />

  <group ns="bluetooth_teleop" if="$(arg joystick)">

    <group unless="$(optenv JACKAL_PS3 0)" >
      <rosparam command="load" file="$(find jackal_control)/config/teleop_ps4.yaml" />
      <param name="joy_node/dev" value="$(arg joy_dev)" />
    </group>

    <group if="$(optenv JACKAL_PS3 0)" >
      <rosparam command="load" file="$(find jackal_control)/config/teleop_ps3.yaml" />
      <param name="joy_node/dev" value="$(arg joy_dev)" />
    </group>

    <node pkg="joy" type="joy_node" name="joy_node" />

    <node pkg="teleop_twist_joy" type="teleop_node" name="teleop_twist_joy" />

    <node pkg="navigation_unity_core" type="cmd_repub.py" name="repub_cmd" />


</group>

   <node pkg="navigation_unity_core" type="tf2odom.py" name="repub_odom" />
  <!--
   <node pkg="image_transport" type="republish" name="image_decompressor" args="compressed in:=/robot1/camera1/image raw out:=/cam_repub"/>
  -->
</launch>
